i.chevron {
  position: absolute;
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  --tw-translate-y: -50%;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-duration: 150ms;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  content: "";
  right: 1.4rem;
  transform-origin: 75% 75%;
  box-shadow: 1px 1px;
  cursor: pointer;
}

i.chevron.chevron-active {
  --tw-rotate: -135deg;
}

ul.options {
  scrollbar-width: none;
}

ul.options > option:not(:last-child) {
  border-bottom-width: 1px;
}